<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        #cy {
            height: 550px;
        }
    </style>

    <script type="module">
        import cytoscape from "https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.15.1/cytoscape.esm.min.js";

        const cy = cytoscape({

            container: $('#cy'), // container to render in

            style: [ // the stylesheet for the graph
                {
                    selector: 'node',
                    style: {
                        'background-color': '#666',
                        'label': 'data(id)'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'line-color': '#ccc',
                        'target-arrow-color': '#ccc',
                        'target-arrow-shape': 'triangle',
                        'curve-style': 'bezier'
                    }
                }
            ]
        });

        $(document).ready(function () {
            list_node();
        });

        function list_node() {
            $.ajax({
                type: 'GET',
                url: '/load',
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // db에서 받은 정보 반복문 돌리기
                        let node_list = response['nodes'];
                        for (let i = 0; i < node_list.length; i++) {
                            let nodes = node_list[i];
                            initCytoscape(nodes['from'], nodes['to'], nodes['edge'])
                        }
                    };
                }
            });
        };

        // cytoscape에 elements data를 추가하는 함수
        function initCytoscape(a, b, c) {
            cy.add([
                { group: 'nodes', data: { id: a } },
                { group: 'nodes', data: { id: b } },
                { group: 'edges', data: { id: c, source: a, target: b } }
            ]);
            // layout 설정하는 부분
            const layout = cy.layout({
                name: 'cose',
            });

            layout.run();
        };

    </script>
    <script>

        //POST 방식으로 input값을 app.py로 넘김
        function save_node() {
            let from_input = $('#from').val();
            let to_input = $('#to').val();
            $.ajax({
                type: 'POST',
                url: '/make',
                data: {
                    'give_from_input': from_input,
                    'give_to_input': to_input,
                    'give_edge_id': from_input + to_input
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        window.location.reload();
                    };
                }
            });
        };
    </script>
</head>

<body>
    <input id="from" type="text">
    <input id="to" type="text">
    <button onclick="save_node()" type="button">push</button>
    <div id="cy"></div>
</body>

</html>