<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        #cy {
            height: 550px;
        }
    </style>

    <script type="module">
        import cytoscape from "https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.15.1/cytoscape.esm.min.js";

        const cy = cytoscape({

            container: $('#cy'), // container to render in

            elements: [ // list of graph elements to start with
                { // node a
                    data: { id: 'a' }
                },
                { // node b
                    data: { id: 'b' }
                },
                { // edge ab
                    data: { id: 'ab', source: 'a', target: 'b' }
                }
            ],

            style: [ // the stylesheet for the graph
                {
                    selector: 'node',
                    style: {
                        'background-color': '#666',
                        'label': 'data(id)'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'line-color': '#ccc',
                        'target-arrow-color': '#ccc',
                        'target-arrow-shape': 'triangle',
                        'curve-style': 'bezier'
                    }
                }
            ],

            layout: {
                name: 'grid',
                rows: 1
            }

        });
    </script>
    <script>
        function push() {
            let test_input = $('#test').val();
            $.ajax({
                type: 'POST',
                url: '/push',
                data: {
                    'give_test_input':test_input
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        window.location.reload();
                    };
                }
            });
        };
    </script>
</head>

<body>
    <input id="test" type="text">
    <button onclick="push()" type="button">push</button>
    <div id="cy"></div>
</body>

</html>