<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Map Maker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h1 {
            padding-bottom: 5px;
            font-size: 45px;
            text-align: center;
            border-bottom: 5px solid black;
        }

        input {
            border: 3px solid black;
        }

        #cy {
            border: 5px solid black;
            padding: 0px;
            height: 550px;
            max-width: 95%;
        }

        .edit_box {
            margin-bottom: 8px;
            text-align: center;
        }

        .container {
            max-width: 95%;
        }

        .form-control {
            width: inherit;
            display: inline;
            border: solid black;
        }

        .btn {
            margin-bottom: 2px;
        }
    </style>

    <script type="module">
        import cytoscape from "https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.15.1/cytoscape.esm.min.js";

        const cy = cytoscape({

            container: $('#cy'), // container to render in

            style: [ // the stylesheet for the graph
                {
                    selector: 'node',
                    style: {
                        'background-color': '#666',
                        'label': 'data(id)'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'line-color': '#ccc',
                        'target-arrow-color': '#ccc',
                        'target-arrow-shape': 'triangle',
                        'curve-style': 'bezier'
                    }
                }
            ]
        });

        $(document).ready(function () {
            list_node();
        });

        function list_node() {
            $.ajax({
                type: 'GET',
                url: '/load',
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // db에서 받은 정보 반복문 돌리기
                        let node_list = response['nodes'];
                        for (let i = 0; i < node_list.length; i++) {
                            let nodes = node_list[i];
                            initCytoscape(nodes['from'], nodes['to'], nodes['edge'])
                        }
                    };
                }
            });
        };

        // cytoscape에 elements data를 추가하는 함수
        function initCytoscape(a, b, c) {
            cy.add([
                { group: 'nodes', data: { id: a } },
                { group: 'nodes', data: { id: b } },
                { group: 'edges', data: { id: c, source: a, target: b } }
            ]);
            // layout 설정하는 부분
            const layout = cy.layout({
                name: 'cose',
            });

            layout.run();
        };

    </script>
    <script>

        //POST 방식으로 input값을 app.py로 넘김
        function save_node() {
            let from_input = $('#from').val();
            let to_input = $('#to').val();
            // input 빈칸 검출
            if (from_input == '') {
                alert('FROM 값을 입력해 주세요.');
            }
            else if (to_input == '') {
                alert('TO 값을 입력해 주세요.');
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/make',
                    data: {
                        'give_from_input': from_input,
                        'give_to_input': to_input,
                        'give_edge_id': from_input + to_input
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            window.location.reload();
                        };
                    }
                });
            };
        };

        // node 지우는 함수
        function delete_node() {
            let from_input = $('#from').val();
            let to_input = $('#to').val();
            // input 빈칸 검출
            if (from_input == '') {
                alert('FROM 값을 입력해 주세요.');
            }
            else if (to_input == '') {
                alert('TO 값을 입력해 주세요.');
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/delete',
                    data: {
                        'give_from_input': from_input,
                        'give_to_input': to_input,
                        'give_edge_id': from_input + to_input
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            window.location.reload();
                        }
                    }
                });
            };
        };

        function reset() {
            if (confirm("모든 정보가 삭제됩니다. 진행하시겠습니까?")) {
                $.ajax({
                    type: 'POST',
                    url: '/reset',
                    success: function (response) {
                        if (response['result'] == 'success') {
                            window.location.reload();
                        }
                    }
                });
            }
            else {
                alert('RESET 취소됨')
            }
        };

    </script>
</head>

<body>
    <h1>Mind Map Maker</h1>
    <div class="edit_box">
        <input id="from" type="text" class="form-control" placeholder="FROM">
        <input id="to" type="text" class="form-control" placeholder="TO">
        <button onclick="save_node()" class="btn btn-dark" type="button">CREATE</button>
        <button onclick="delete_node()" class="btn btn-dark" type="button">DELETE</button>
        <button onclick="reset()" class="btn btn-danger" type="button">RESET</button>
    </div>
    <div id="cy" class="container"></div>
</body>

</html>